### importação do pandas

In [2]:
import pandas as pd

### carregando o arquivo csv

In [3]:
planets = pd.read_csv('./planets.csv')

### exibindo as três primeiras linhas

In [4]:
planets.head(3)

            method  number  orbital_period  mass  distance  year
0  Radial Velocity       1         269.300  7.10     77.40  2006
1  Radial Velocity       1         874.774  2.21     56.95  2008
2  Radial Velocity       1         763.000  2.60     19.84  2011

### verificando o tipo de cada classe

In [14]:
planets.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

### média dos valores, atentar-se quanto ao tipo do dado. não aplica-se a tipos diferentes de números

In [15]:
planets['orbital_period'].mean()

2002.9175960947582

### divisão de dados, inteiro por float

In [16]:
planets['number'][0]/planets['mass'][0]

0.14084507042253522

### convertendo dado inteiro para float (astype)

In [17]:
planets['mass'][0].astype(float)

7.1

### convertendo dado float para inteiro (astype)

In [18]:
planets['mass'][0].astype(int)

7

### convertendo dado inteiro para string (astype)

In [19]:
planets['year'][0].astype(str)

'2006'

### convertendo dados em data (to_datetime)

In [21]:
planets['year_dt'] = pd.to_datetime(planets['year'], format='%Y')
planets['year_dt']

0      2006-01-01
1      2008-01-01
2      2011-01-01
3      2007-01-01
4      2009-01-01
          ...
1030   2006-01-01
1031   2007-01-01
1032   2007-01-01
1033   2008-01-01
1034   2008-01-01
Name: year_dt, Length: 1035, dtype: datetime64[ns]