### importar pandas

In [4]:
import pandas as pd

### criar lista com dados

In [5]:
scores = {"name": ['Ray', 'Japhy', 'Zosa'],
         "city": ['San Francisco', 'San Francisco', 'Denver'],
         "score": [75, 92, 94]}

### montar o dataframe

In [6]:
df = pd.DataFrame(scores)

### exibir os dados em tabela

In [7]:
df

    name           city  score
0    Ray  San Francisco     75
1  Japhy  San Francisco     92
2   Zosa         Denver     94

### exibir os dados de uma coluna específica

In [9]:
df['score']

0    75
1    92
2    94
Name: score, dtype: int64

### criando uma nova coluna

In [11]:
df['name-city'] = df['name'] + '_' + df['city']

### buscar dados onde os pontos são maiores que 90

In [12]:
df[df['score'] > 90]

    name           city  score            name-city
1  Japhy  San Francisco     92  Japhy_San Francisco
2   Zosa         Denver     94          Zosa_Denver