# <center>Trabalhando com Datas</center>

### importando pandas

In [25]:
import pandas as pd

### gerar quatro períodos de datas com uma frequência de 30 dias

In [26]:
daterange = pd.period_range('1/1/2023', freq='30d', periods=4)

### irá gerar um dataframe com uma coluna 'sample date' com um intervalo de 30 dias

In [27]:
date_df = pd.DataFrame(data=daterange, columns=['sample date'])
date_df

  sample date
0  2023-01-01
1  2023-01-31
2  2023-03-02
3  2023-04-01

### dirença entre períodos de datas

In [28]:
date_df['date difference'] = date_df['sample date'].diff(periods=1)
date_df

  sample date date difference
0  2023-01-01             NaT
1  2023-01-31     <30 * Days>
2  2023-03-02     <30 * Days>
3  2023-04-01     <30 * Days>

### primeiro dia do mês

In [29]:
date_df['first of month'] = date_df['sample date'].values.astype('datetime64[M]')
date_df

  sample date date difference first of month
0  2023-01-01             NaT     2023-01-01
1  2023-01-31     <30 * Days>     2023-01-01
2  2023-03-02     <30 * Days>     2023-03-01
3  2023-04-01     <30 * Days>     2023-04-01

### verificando os tipos de dados

In [30]:
date_df.dtypes

sample date          period[30D]
date difference           object
first of month     datetime64[s]
dtype: object

### convertendo 'sample date' para timestamp com to_timestamp()

In [31]:
date_df['sample date'] = date_df['sample date'].dt.to_timestamp()
date_df.dtypes

sample date        datetime64[ns]
date difference            object
first of month      datetime64[s]
dtype: object

### subtração de datas

In [32]:
date_df['sample date'] - date_df['first of month']

0    0 days
1   30 days
2    1 days
3    0 days
dtype: timedelta64[ns]

In [33]:
date_df['sample date'] - date_df['date difference']

/tmp/ipykernel_7747/608647980.py:1: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized.
  date_df['sample date'] - date_df['date difference']

0                    NaT
1    2023-01-01 00:00:00
2    2023-01-31 00:00:00
3    2023-03-02 00:00:00
dtype: object

In [34]:
date_df['sample date'] - pd.Timedelta('30 d')

0   2022-12-02
1   2023-01-01
2   2023-01-31
3   2023-03-02
Name: sample date, dtype: datetime64[ns]

### mais propriedades com dt

In [35]:
date_df['sample date'].dt.day_name()

0      Sunday
1     Tuesday
2    Thursday
3    Saturday
Name: sample date, dtype: object