### importando pandas

In [1]:
import pandas as pd

### definindo lista com caracteres especiais

In [3]:
names = pd.Series(['Pomeray, CODY', 'Wagner; Jarry', 'Smith, Ray'])

### substituindo caracteres

In [4]:
names = names.str.replace(';', ',')
names

0    Pomeray, CODY
1    Wagner, Jarry
2       Smith, Ray
dtype: object

### verificando o tamanho de cada item da lista

In [5]:
names.str.len()

0    13
1    13
2    10
dtype: int64

### removendo caracteres ou espaços no início e fim Ex: (' hello.') -> ('hello')

In [9]:
names = names.str.strip()
names.str.len()

0    13
1    13
2    10
dtype: int64

### converter string para minúsculo ou maiúsculo

In [12]:
names = names.str.lower()
names
# minúsculo = str.upper()
# maiúsculo = str.upper()

0    pomeray, cody
1    wagner, jarry
2       smith, ray
dtype: object

### dividir a string em torno de um separador criando uma lista

In [13]:
names = names.str.split(', ')
names

0    [pomeray, cody]
1    [wagner, jarry]
2       [smith, ray]
dtype: object

### alterando a ordem de cada item/lista (inverte nome com sobrenome)

In [16]:
names = pd.Series([i[::-1] for i in names])
names

0    [pomeray, cody]
1    [wagner, jarry]
2       [smith, ray]
dtype: object

### agrupa os itens da lista concatenando-os por espaço

In [17]:
names = [' '.join(i) for i in names]
names

['pomeray cody', 'wagner jarry', 'smith ray']