### importando pandas

In [2]:
import pandas as pd

#### Data Sources: CSV, Excel, JSON, Databases, Parquet. 
Para importar dados por meio de um CSV usar: pd.read_csv()

In [4]:
iris = pd.read_csv('./Iris.csv')

### explorando o dataset, quantidade de linhas e colunas

In [5]:
iris.shape

(150, 6)

### exibindo as três primeiras linhas

In [6]:
iris.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

### exibindo as trê últimas linhas

In [7]:
iris.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### verificando o tipo de dados do dataset

In [8]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

### configurando os dados com loc e iloc

### pegando os dados da linha 3 à linha 5

In [9]:
iris.loc[3:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

### retornra o tamanho de SepalLengthCm da linha 3

In [13]:
iris.loc[3,'SepalLengthCm']

4.6

### fazendo o mesmo processo do código anterior com iloc

In [14]:
iris.iloc[3,0]

4

### exportando os dados tratados em formato CSV usando to_csv

In [15]:
iris.to_csv('iris-outpu.csv', index=False)